.btn {
    margin-top: 0.25rem;
    border: none;
    padding: 0.25rem 0.5rem;
    background-color: greenyellow;
    color: black;
    border-radius: 5px;

    &:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
}

.btn-2 {
    @extend .btn;
    border-radius: 10px;

    &:hover{
        background-color: aqua;
        color: black;
    }
}

