@use "components";

@mixin section-display{
      width: 100%;
      padding: 3rem;
      margin: auto;
}

body{
   margin: 0;
   padding: 0;
}

.nav{
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: 4rem;
   border-bottom: 1px solid #ddd;
   align-items: center;
}

.logo img {
   max-width: 7rem;
}

.sec-home{
   display: flex;
   align-items: center;
   @include section-display();

   .home-cta{
      flex: 1;
      .cta-text{
         color: components.$color-main;
      }
      .home-title{
         width: 20rem;
         font-size: 3rem;
      }
      .home-img{
         max-width: 7rem;
      }
   }
}

.sec-features{
   @include section-display();
   .intro{
      text-align: center;
      h3{
         font-size: 1.9rem;
      }
      p{
         font-size: 0.8rem;
         color: #888;
      }
   }
   .features{
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 1rem;
      .text{
         padding: 2rem 0;
         flex: 1;
         display: flex;
         flex-direction: column;
         gap: 2rem;
         .feature{
            display: flex;
            flex-direction: row;
            align-items: center;

            .description{
               margin-left: 1rem;

               .description-title{
                  font-size: 1.15rem;

               }
               .description-text{
                  font-size: 1rem;
               }
            }
         }
      }
      .image{
         .img{
            max-width: 20rem;
         }

      }
   }
}

.sec-benefits {
   @extend .sec-features, .intro;

   border-top: 1px solid #ddd;

   .benefit-cards {
      width: 100%;
      padding: 2rem 4rem;
      gap: 6rem;
   }
}