body {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.button:hover{
   cursor: pointer;
   color: white;
   background-color: green;
}

.button::before{
   content: 'Pasa por encima';

}

.button:hover::before{
content: 'Hecho';
}

/* p::selection{
   background-color: black;
   color: wheat;
} */




/* a:link{

}

a:visited {

}

a:hover{

}

a:active{


} */